<%- include ./partials/head.ejs %>
<progress class="stappen" value="2" max="3">2/3</progress>
<section>
<h2>Het enquete</h2>
<div class="container">
</div>
<form class="form-stap-twee" action="/enquete/stap-twee" method="GET">
    <label >
    <input type="hidden" name="user" value="<%= user%>">
    </label>
    <fieldset>
        <legend>Vraag 1</legend>
        <label for="goed">Wat vond je goed gegaan bij deze minor?</label> 
        <textarea rows="4" cols="35" id="goed" name="goed" wrap="hard" type="text" value="<% if(data[data.length-1]) {%><%= data[data.length-1].goed %><%}%>"><% if(data[data.length-1]) {%><%= data[data.length-1].goed %><%}%></textarea>
    </fieldset>
    <fieldset>
        <legend>Vraag 2</legend>
        <label for="slecht">Wat vond je minder goed aan deze minor?</label>
        <textarea rows="4" cols="35" id="slecht" name="slecht" wrap="hard" type="text" value="<% if(data[data.length-1]) {%><%= data[data.length-1].slecht %><%}%>"><% if(data[data.length-1]) {%><%= data[data.length-1].slecht %><%}%></textarea>
    </fieldset>
    <fieldset>
        <legend>Vraag 3</legend>
        <label for="">Welke vak vind je het leukst? 
            <input name="leukst" type="text" value="<% if(data[data.length-1]) {%><%= data[data.length-1].leukst %><%}%>">
        </label>
    </fieldset>
    <fieldset>
        <legend>Vraag 4</legend>
        <label for="">Wat voor score geef je deze minor? 
            <input name="beoordeling" type="number" min="1" max="10" value="<% if(data[data.length-1]) {%><%= data[data.length-1].beoordeling %><%}%>">
        </label>
    </fieldset>
    <fieldset>
        <legend>Vraag 5</legend>
        <label>Heb je voldoende hulp gekregen?</label>
            <div class="q-container">
                <% if(data[data.length-1]) { if(data[data.length-1].hulp == "ja") {%>
                <label> ja
                    <input name="hulp" type="radio" checked="checked" value="ja">
                </label>
                <label> nee
                    <input name="hulp" type="radio" value="nee">
                </label>
                <% } else if(data[data.length-1]) if(data[data.length-1].hulp == "nee") {%>
                    <label> ja
                        <input name="hulp" type="radio" value="ja">
                    </label>
                    <label> nee
                        <input name="hulp" type="radio" checked="checked" value="nee">
                    </label>
                <% } else {%>
                    <label> ja
                        <input name="hulp" type="radio" value="ja">
                    </label>
                    <label> nee
                        <input name="hulp" type="radio"  value="nee">
                    </label>
                <%}}else {%>
                    <label> ja
                        <input name="hulp" type="radio" value="ja">
                    </label>
                    <label> nee
                        <input name="hulp" type="radio" value="nee">
                    </label>
                <%}%>
            </div>
    </fieldset>
    <input class="opslaan" type="submit" value="Opslaan">
    <button class="versturen" type="submit" formaction="/enquete/stap-dree">versturen</button>
</form>
<% if (!user) {%>
    <p class="feedback">Je antwoorden zijn opgeslagen</p>  
<%}%>
</section>
<%- include ./partials/footer.ejs %>